<main>
  <div class="auth-card">
    <h1>Log in</h1>
    <form class="login-form" action="/login" method="post">
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="username" />
      </div>
      <div class="form-control">
        <a href="/request-password-reset">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
</main>
