<main>
  <div class="auth-card">
    <h1>Reset Password</h1>
    <form class="login-form" action="/request-password-reset" method="post">
      <div class="form-control">
        <label for="emailPW">Email or Phone Number</label>
        <input type="text" name="emailPW" id="emailPW" />
      </div>
      <input type="hidden" name="CSRFToken" value="<%= csrfToken %>" />
      <button type="submit">Send</button>
    </form>
  </div>
</main>
