<main>
  <div class="auth-card">
    <h2>Choose new Password</h2>
    <form class="login-form" action="/reset-password" method="post">
      <div class="form-control">
        <label for="password1">Password</label>
        <input type="text" name="password1" id="password1" />
      </div>
      <div class="form-control">
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" id="password2" />
      </div>
      <input type="hidden" name="CSRFToken" value="<%= csrfToken %>" />
      <button type="submit">Reset Password</button>
    </form>
  </div>
</main>
