<main>
  <div class="table-card">
    <table class="users-table">
      <caption>
        Registered Users
        <hr />
        <div class="signup-link">
          <a href="/admin/signup" class="add-user-btn">New User</a>
        </div>
      </caption>
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Date Joined</th>
          <th>Last Login</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</main>
