<main>
  <div class="auth-card">
    <h1>Sign Up</h1>
    <form class="login-form" action="/login" method="post">
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
      <div class="form-control">
        <label for="password1">Password</label>
        <input type="password" name="password1" id="password1" />
      </div>
      <div class="form-control">
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" id="password2" />
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</main>
