<nav class="admin-header__nav">
  <ul class="admin-header__nav-list">
    <li class="admin-header__nav-item"><a href="/admin/">Home</a></li>
    <li class="admin-header__nav-item"><a href="/admin/users">Users</a></li>
    <li class="admin-header__nav-item"><a href="/login">Log In</a></li>
  </ul>
</nav>
