<main>
  <div class="table-card">
    <table class="users-table">
      <caption>
        Registered Users
        <hr />
        <div class="signup-link">
          <a href="/admin/signup" class="add-user-btn">New User</a>
        </div>
      </caption>
      <thead>
        <tr>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Date Joined</th>
          <th>Last Login</th>
        </tr>
      </thead>
      <tbody>
        <% for( let user of users ) { %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.phoneNumber %></td>
          <td><%= user.createdAt %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>
