[Unit]
Description=Secure Home Server

[Service]
ExecStart=docker run --rm --network host -v /uploads secure-home-server
WorkingDirectory=/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target