<div class="form-container">
  <div class="alert-banner <%= isAlert === true ? 'active' : '' %>">
    File upload failed. Please ensure you have added a file before submitting
  </div>
  <form action="/home" method="post" enctype="multipart/form-data">
    <div class="form-selector">
      <label for="fileUpload" class="file-label">Upload your file:</label>
      <input type="file" id="fileUpload" name="fileUpload" />
      <span class="file-name">No file chosen</span>
      <button type="submit">Upload File</button>
    </div>
  </form>
</div>
<% if (path === "/home") { %>
<div class="admin-view">
  <a href="/admin/"><span>&#9881;</span></a>
</div>
<% } else if (path === "/admin/home") { %>
<div class="admin-view">
  <a href="/"><span>&#9881;</span></a>
</div>
<% } %>
